*{margin: 0; padding: 0;}

ul li a {
    float: left;
    margin-top: -5px;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
}

ul li a:hover {
    color: #5ce8cd;
    text-decoration: none;
}

ul li a:active {color: #5ce8cd;}

ul.navbar-nav.mr-auto {
    list-style-type: none;
}

.navbar-collapse.navbar-ex1-collapse {
    font-family: cursive;
    margin-left: 500px;
}

.lienhe {
    position: absolute;
    top: 189px;
}

.phone h5 {
    color: white;
}

.envelope f.fa {
    display: block;
}

.envelope h5 {
    color: white;
    font-size: 15px;
    display: block;
    line-height: 26px;
    text-align: center;
}

.maps h5 {
    color: white;
    font-size: 15px;
    text-align: center;
}

.maps {
}

.maps i.fa {float: left;}

.maps i.fa,.envelope i.fa,.phone i.fa {
    color: white;
    cursor: pointer;
    padding-right: 13px;
    float: left;
    padding-bottom: 98px;
}

.mota2 h5 {
    font-size: 12px;
    color: white;
    display: block;
    padding-left: 115px;
    line-height: 21px;
    font-style: italic;
}

.mota2 h3 {
    color: white;
    font-size: 15px;
    display: block;
    padding-left: 115px;
}

.mota2 img {
    float: left;
}

.mota2 {
    position: absolute;
    top: 290px;
}

.mota1 h5 {
    font-size: 12px;
    color: white;
    display: block;
    padding-left: 115px;
    line-height: 21px;
    font-style: italic;
}

.mota1 h3 {
    color: white;
    font-size: 15px;
    display: block;
    padding-left: 115px;
}

.mota1 img {
    float: left;
}

.mota1 {
    position: absolute;
    top: 183px;
}

.danhmuc {
    color: white;
    position: absolute;
    top: 166px;
    font-size: 16px;
    line-height: 35px;
}

.danhmuc a {
    color: white;
}

.danhmuc a:hover {
    color: #5ce8cd;
}

.footer h2.chungan:after {content: "";position: absolute;width: 60px;height: 5px;background: #5ce8cd;top: 80px;left: 2%;}

.icons {
    position: absolute;
    top: 150%;
}

.icons i.fa {
    color: white;
    padding-left: 37px;
    cursor: pointer;
}

.icons i.fa:hover {
    color: #5ce8cd;
}

.footer p {
    color: white;
    position: absolute;
    top: 166px;
    font-size: 16px;
    line-height: 35px;
}

.copyright {
    color: white;
    text-align: center;
    position: absolute;
    left: 38%;
    top: 84%;
    font-family: cursive;
}

.footer {
    background: url(images/1.jpg);
    height: 570px;
    margin-top: 130px;
    position: relative;
}

li.nav-item.active:after {content: "";position: absolute;width: 36px;height: 3px;background: #5ce8cd;top: 0;left: 4%;}

.tieudewelcome h2.vienxanh:after {content: "";position: absolute;width: 60px;height: 5px;background: #5ce8cd;left: 70px;top: -20px;}

.tieudewelcome h2.vienxanh {
    font-family: cursive;
    font-weight: bold;
    position: relative;
}

h2.chungan:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: #5ce8cd;
    top: -15px;
    left: 43%;
}

.footer h2.chungan {
    padding-bottom: 100px;
    font-family: cursive;
    position: relative;
    padding-top: 110px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

a.motsanpham._1team {
    width: 100%;
    height: 100%;
}

.motsanpham._1team img {width: 255px;}

.theteam {
    margin-top: 300px;
}

.conso {
    border: 10px solid #5ce8cd;
    text-align: center;
    padding: 100px 80px;
    position: absolute;
    top: -84px;
}

.chu {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.chuso {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #5ce8cd;
}

.number {
    border-top: 1px dashed gray;
    margin-top: 160px;
    background: url(images/3.jpg) repeat-x;
    height: 190px;
    position: relative;
}

a.btn.btn-default.nutwelcome {
    background: black;
    color: #5ce8cd;
    border-bottom: 5px solid #5ce8cd;
}

span.thongtin1sp:hover {
}

.work .col-sm-6 {
    margin-bottom: 30px;
}

.danhmucsanpham:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 3px;
    background: black;
}

.danhmucsanpham {
    color: black;
    font-size: 16px;
    position: relative;
    padding-top: 9px;
}

h4.tensanpham {
    font-size: 26px;
    font-family: cursive;
    color: white;
    padding-bottom: 18px;
}

span.thongtin1sp {
    position: absolute;
    bottom: -160px;
    left: 0;
    width: 100%;
    height: 130px;
    background: #5ce8cd;
    padding: 30px 35px;
    transition: 0.4s;
}

.motsanpham img {
    width: 542px;
    height: 330px;
}

a.motsanpham {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a.motsanpham:hover .thongtin1sp {
    bottom: 0;
}

.tieudework h2.vienxanh:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: #5ce8cd;
    top: 0;
    left: 40%;
}

.work {
    margin-top: 130px;
}

h3.vienxanh:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: #5ce8cd;
    left: 17px;
    top: 0;
}

.mohinh a.btn.btn-default.nutwelcome {
    background: black;
    color: #5ce8cd;
    margin-top: 35px;
    padding: 16px 30px;
    border-bottom: 5px solid #5ce8cd;
    padding-left: 20px;
}

.mohinh {
    margin-left: 20%;
    margin-bottom: 100px;
}

a.btn.btn-default.nutwelcome:hover {
    background: #5ce8cd;
    color: black;
    border-bottom: 5px solid black;
    animation: bounce 1s;
}

.col-sm-4._3cotwelcome {
    margin-top: 125px;
}

.motwelcome {padding-top: 36px;text-align: center;}

.tieudeword h2.vienxanh:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: #5ce8cd;
    left: 48px;
    top: 14px;
}

.tieudewelcome {
    margin-top: 100px;
}

.tieudework h2.vienxanh {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 29px;
    position: relative;
    padding-top: 21px;
    font-family: cursive;
    padding-bottom: 96px;
}

._3cotwelcome h3.vienxanh {
    padding-bottom: 30px;
    padding-top: 21px;
    font-family: cursive;
}

.col-sm-12.chuthich {
    animation: traiqua 2s forwards;
    position: relative;
    z-index: 3;
}

a.nav-link {
    animation: dixuong 1s forwards;
}

a.navbar-brand {
    animation: thunho 1s forwards;
}
@keyframes dixuong {
    from{ transform: translateY(-100px); opaciry:0}
    to{transform: translateY(0px); opaciry:1}
}
@keyframes thunho {
    from{ transform: scale(2); opaciry:0}
    to{transform: scale(1); opaciry:0}
}
@keyframes traiqua {
    from{ transform: translateX(-300px); opaciry:0}
    to{transform: translateX(0px); opaciry:1}
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.btn.btn-default.nuttrang {
    background: white;
}

.btn.btn-default.nuttrang:hover {
    background: #5ce8cd;
    color: white;
}

.btn.btn-default.nutxanh {}

.hainut {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    animation-delay: 3s;
}

.d3 {
    font-size: 30px;
    color: white;
    padding-top: 25px;
    animation-delay: 2s;
}

.d2 {
    font-size: 40px;
    color: white;
    animation-delay: 1s;
}

.d1 {
    font-size: 30px;
    color: white;
    padding-bottom: 25px;
}

.badongtext {
    text-transform: uppercase;
    margin-top: 113px;
    position: relative;
    z-index: 2;
    font-family: cursive;
}

li.nav-item.active {
    position: relative;
}

.navbar-light .navbar-nav a.nav-link {
    font-size: 16px;
    color: white;
    font-family: cursive;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color: #5ce8cd;
}

.headertren:after {
    content: "";
    width: 100%;
    height: 781px;
    background: #00000036;
    position: absolute;
    top: 0px;
}

.headertren {
    background: url(images/1.jpg) no-repeat;
    width: 100%;
    height: 781px;
    position: relative;
    top: 0px;
}


nav.navbar.navbar-light.bg-faded {
    background-color: transparent;
    margin-top: 48px;
    position: relative;
    z-index: 3;
}

ul.nav.navbar-nav {
    float: right;
}

a.navbar-brand img {
    width: 100px;
}

.xanh {
    color: #5ce8cd;
}
 
 @media (max-width: 767px) {
    *{}

.mohinh a.btn.btn-default.nutwelcome {
    font-size: 14px;
    padding: 5px 8px;
}

a.btn.btn-default.nuttrang,.nutxanh {
    font-size: 13px;
    padding: 4px 5px;
    margin-top: -48px;
}

.badongtext .d1,.d3 {
    font-size: 16px;
    padding-top: 1px;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-size: 16px;
}

.headertren .navbar-nav .nav-item {
}

.headertren ul.nav.navbar-nav {
    display: inline;
}

.navbar-light .navbar-brand {
    
    154px
    display:;
    display: block;
    margin-left: 62px;
}
.headertren {
        background: url(images/768.jpg);
        background-size: cover;
    }

    

 }
 @media (min-width: 768px) and (max-width: 991px) {
    *{}

.mohinh a.btn.btn-default.nutwelcome {
    font-size: 12px;
    padding: 10px 15px;
}

a.btn.btn-default.nuttrang,.nutxanh {
    font-size: 12px;
    margin-top: -40px;
}

.badongtext .d1,.d3 {
    font-size: 18px;
    padding-top: 4px;
}

.headertren {
    background: url(images/992.jpg);
    background-size: cover;
}
 }
 @media(min-width: 992px) and (max-width: 1199px){
    *{}
 }
 @media (min-width: 1200px) {
    *{}
 }